######################################################################
## Language specific gitignore. Add the gitignores relevant to the languages used
######################################################################
